\venv
\.venv
/app/test/scraping/screenshots
/app/screenshots
/app/BookingOutput
/app/test/scraping/BookingOutput
/app/test/screenshots
/app/test/BookingOutput
*__pycache__/
__pycache__/
/app/__pycache__/
/app/test/__pycache__/
*.pyc
instance/
.env
/app/test/services/analyzed_data_frontend.json
/app/test/services/promptForFrontender.txt
/app/test/services/promt.txt 
/app/test/services/raw_reviews.txt 

*screenshots/
BookingOutput/*
/app/test/analyzed_data_frontend.json
/app/screenshots
/app/analyzed_data_frontend.json

tmp/* 