/* Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom global styles */
:root {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f4f4f4;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden; /* prevent horizontal scroll */
  background-color: #f4f4f4;
}
